extends layout

block content
    h1= title
    ul(id="timeline")
    form(id="chatSend", action="")
        input(id="chatText", autocomplete="off")
        button(class="sendButton")　送信
    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-1.11.1.js")
    script
        |$(function () {
        |    var socket = io();
        |    $('form').submit(function(){
        |        socket.emit('chat message', $('#chatText').val());
        |        $('#timeline').val('');
        |        return false;
        |    });
        |    socket.on('chat message', function(msg){
        |        $('#timeline').append($('<li>').text(msg));
        |    });
        |});
            

